* {
    border: 0;
    font-family: "Microsoft YaHei UI", sans-serif;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

body {
    background-color: dimgray;
    height: 100%;
}

html {
    height: 100%;
}

.captain-box {
    background-color: darkblue;
    min-height: 100px;
    width: 100%;
}

.page-box {
    background-color: white;
    box-shadow: 0 0 10px #1b1b1b;
    margin: 0 auto;
    min-height: 100%;
    width: 1200px;
}