* {
    border: 0;
    font-family: "Microsoft YaHei UI", sans-serif;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

body {
    background-color: dimgray;
    height: 100%;
}

html {
    height: 100%;
}

.captain-box {
    background-image: url("../img/captain2.png");
    background-size: cover;
    min-height: 150px;
    text-align: center;
    width: 100%;
}

.captain-box-main {
    font-size: 48px;
    font-weight: bold;
    line-height: 150px;
}

.nav-box {
    background-color: darkblue;
    color: white;
    min-height: 36px;
    width: 100%;
}

.nav-box-main {
    text-align: center;
}

.nav-box-main li {
    font-size: 12px;
    font-weight: bold;
    display: inline-table;
    line-height: 36px;
    min-width: 200px;
    text-align: center;
}

.page-box {
    background-color: white;
    box-shadow: 0 0 10px #1b1b1b;
    margin: 0 auto;
    min-height: 100%;
    width: 1200px;
}
